<div x-data="{ count: 0 }" class="">
    hero component
    <h1 class="">{{ heading }}</h1>
    <span x-text="count"></span>
    <button @click="count = count + 1">UP</button>
    {# <img src="" alt=""> #}
</div>